@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,170,68,1) 35%, rgba(6,100,46,1) 100%);;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size:2em;
    text-align: center;
    color:white;
}

.intro{
    text-align: center;
    font-size:1em;
    color:white;
    width:600px;
    margin:auto;
    margin-bottom:2em;
}

a{
    color:black;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 200px;
    width:600px;
    margin:auto;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.box{
    border:solid 1px black;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.nought{
    width:150px;
    height:150px;
    border:solid black 1px;
    background:black;
    border-radius:50%;
    margin:auto;
    margin-top:0.5em;
    background-color: black;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}


.cross{
    display: inline-block;
    width: 180px;
    height:180px;
    border: 10px solid black;
    background:
            linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#f5f7fa 45%,#f5f7fa 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, black 0%,black  43%,#f5f7fa 45%,#f5f7fa 55%, black  57%,black  100%);
}
