body{
    background:green;
}
h2{
    font-family: monospace;
    font-size:2.5em;
    text-align: center;
    color:white;
}

.grid {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px;
    width:450px;
    margin:auto;
    background:white;
}

.box{
    border:solid 1px black;
    background:white;
}

.nought{
    width:105px;
    height:105px;
    border:solid red 1px;
    background:red;
    border-radius:50%;
    margin:auto;
    margin-top:0.5em;
}

.cross{
    display: inline-block;
    width: 130px;
    height:130px;
    border: 10px solid blue;
    background:
            linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, blue 0%,blue 43%,#fff 45%,#fff 55%, blue 57%,blue 100%);
}
